<mat-list-item style="height: auto ;">
  <mat-card style="width: 100%; margin-bottom: 20px;">
    <mat-card-title style="width: 100%;">
      {{book.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{book.author}}
    </mat-card-subtitle>
    <img mat-card-sm-image [src]="getBase64(book.screen)" [alt]="book.title">
    <mat-card-content>
      {{book.description}}
    </mat-card-content>
    <button mat-button (click)="getId.emit(book.uid)">Open</button>
  </mat-card>
</mat-list-item>
