<h1>Book list</h1>

<mat-card>
  <mat-list>
  <app-book-item *ngFor="let book of books"
                 [book]="book"
                 (showBook)="returnById($event)"
  ></app-book-item>
  </mat-list>
</mat-card>

