<button mat-button color="accent" *ngIf="!activeList" (click)="backToList()">Back</button>
<app-book-list *ngIf="activeList" (showBook)="showBook($emit)"></app-book-list>
<app-book-show  *ngIf="!activeList && book" (book)="book"></app-book-show>

<div *ngIf="!activeList&& !book">no book selected</div>
